<!-- activation_email.html -->
<!DOCTYPE html>
<html>
<body>
    <p>Hello,</p>
    <p>Thank you for signing up for our service. To activate your account, please click on the following link:</p>
    <p><a href="https://{{.URL}}?otp={{.OTP}}">Activate Your Account</a></p>
    <p>If the link does not work, you can copy and paste the following URL into your web browser:</p>
    <p>https://{{.URL}}?otp={{.OTP}}</p>
    <p>This link will expire in 48 hours, so please make sure to activate your account as soon as possible.</p>
    <p>If you did not sign up for this service, please ignore this email.</p>
    <p>Thank you for choosing our service!</p>
    <p>Sincerely,<br>Book Catalog</p>
</body>
</html>
