<!-- reset_password_email.html -->
<!DOCTYPE html>
<html>
<body>
    <p>Hello,</p>
    <p>We have received a request to reset your password for your account. To create a new password, please click on the following link:</p>
    <p><a href="https://{{.URL}}?otp={{.OTP}}">Reset Your Password</a></p>
    <p>If the link does not work, you can copy and paste the following URL into your web browser:</p>
    <p>https://{{.URL}}?otp={{.OTP}}</p>
    <p>This link will expire in 4 hours, so please reset your password as soon as possible.</p>
    <p>If you did not request a password reset, please ignore this email or contact our support team.</p>
    <p>Thank you for using our service!</p>
    <p>Sincerely,<br>Book Catalog</p>
</body>
</html>
